{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
  <meta name="viewport" 
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Главная страница</title>
  {% bootstrap_css %}
  <link rel="stylesheet" type="text/css" href=" {% static 'blog/style.css' %}">
  {% bootstrap_javascript jquery='slim' %}
</head>

<body>
  <div class="page-header">    
    <h1><a href="/">
      <img src="{% static 'blog/Logo_Kodland.png' %}" alt="logo" 
      class="image-header"></a> <span class="blog-text"> Блог</span><h1>
      <a href="{% url 'new_article' %}">
        <button class="btn btn-primary btn-header" type="submit">+Добавить статью </button>
      </a>
    </div>
    <hr>

          {% block content %}
          {% endblock %}

      <footer class="mt-3">
    <p class="text-right font-italic">&copy; By Dmitrochenko, 2020г.</p>    
  </footer>
  </body>
</html>
